:root {
  --clr-primary-pale: hsl(215, 51%, 70%);
  --clr-primary-shine: hsl(178, 100%, 50%);
  --clr-primary-shine-o: hsla(178, 100%, 50%, .5);
  --clr-neutral-00: hsl(0, 0%, 100%);
  --clr-neutral-70: hsl(215, 32%, 27%);
  --clr-neutral-80: hsl(216, 50%, 16%);
  --clr-neutral-90: hsl(217, 54%, 11%);
  --ff-sans: 'Outfit', sans-serif;
  --fz-body: 18px;
  --fw-S: 300;
  --fw-M: 400;
  --fw-L: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

.flowise>* {
  margin-bottom: 1rem;
}

.flowise>*:last-child {
  margin-bottom: 0;
}

.flowise>*+* {
  margin-top: 1.25em;
}

body {
  margin: 0;
  font-family: var(--ff-sans);
  font-size: var(--fz-body);
  font-weight: var(--fw-S);
  line-height: 1.4;
  color: var(--clr-primary-pale);
  background: var(--clr-neutral-90);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem 1.5rem;
}

main {
  margin: auto;
}

.hero {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.hero-img {
  display: block;
  width: 100%;
}

.card {
  max-width: 350px;
  padding:1.5rem;
  background: var(--clr-neutral-80);
  border-radius: 15px;
}

.card a {
  text-decoration: none;
}

.stats {
  font-size: 16px;
  font-weight: var(--fw-M);
}

.card_title {
  font-size: 22px;
}

.card_title a,
.profile_id a {
  color: var(--clr-neutral-00);
  transition: color 300ms ease-in 100ms;
}

.variant {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px var(--clr-neutral-70);
  padding-bottom: 1.25em;
  letter-spacing: 1px;
}

.variant img {
  vertical-align: -.2em;
  margin-right: .25em;
}

.ether {
  font-weight: var(--fw-L);
  text-transform: uppercase;
  color: var(--clr-primary-shine);
}

.avatar {
  width: 2.125em;
  border: solid 1px var(--clr-neutral-00);
  border-radius: 2em;
  vertical-align: middle;
  margin-right: 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem auto 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}